# Compiled files
*.class

# Package files
elements-harvester/*.jar
elements-harvester/*.war
elements-harvester/*.ear

# IntelliJ IDEA
.idea
*.iml
target/

# Subversion
.svn*

# Generated data and log files
test-data
*.n3
added-data
raw-records
translated-records
matched-data
subtracted-data
previous-harvest
*.log
